.button {
  background-color: transparent;

  padding: 2.5px 3px 2.5px 15px;

  min-width: 141px;

  border: 1px solid var(--color-green);
  border-radius: 500px;

  line-height: 1.125;
  letter-spacing: -0.04em;
  text-align: left;

  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 12px;

  transition: background-color var(--transition-options), color var(--transition-options),
    border-color var(--transition-options);

  &:hover,
  &:focus {
    background-color: var(--color-dark-green);
    color: var(--color-green);
    border-color: var(--color-dark-green);
  }
}

.arrowIconContainer {
  background-color: var(--color-green);
  stroke: var(--color-dark-green);

  width: 32px;
  height: 32px;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}
