@import url('./assets/fonts/fonts.css');

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', sans-serif;
}

p,
span {
  line-height: 1.2;
  letter-spacing: -0.04em;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  padding: 0;

  border: none;
  cursor: pointer;

  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

address {
  font-style: normal;
}

html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;

  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;

  background-color: var(--body-bg-color);
  color: var(--color-dark-green);
}

#root {
  display: flex;
  flex-direction: column;

  flex: 1;
}

main {
  flex: 1;
}

:root {
  --transition-options: 250ms ease-in-out;

  --color-light-green: #dbf0d9;
  --color-green: #97d28b;
  --color-dark-green: #173d33;
  --color-white: #ffffff;
  --color-black: #000000;

  --body-bg-color: #f3f5fa;
  --burger-menu-icon-color: #292d32;
  --backdrop-bg-color: #173d3340;
  --modal-bg-color: #173d33bf;
  --inactive-link-color: #ffffff40;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
